.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.controls_panel {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
}
