.wrapper {
  position: absolute;
}

.tooltip_text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: #0e5a8a transparent transparent transparent;
}

.tooltip_text {
  width: 120px;
  background-color: #0e5a8a;
  color: #f5f8fa;
  text-align: center;
  padding: 5px 0;
  position: absolute;
}
